!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Tasseo
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "c/style.css" }
    %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "j/d3.v2.min.js" }
    %script{ :type => "text/javascript", :src => "j/rickshaw.min.js" }
    %script{ :type => "text/javascript", :src => "j/crypto-min.js" }
  %body
    .title
      - if dashboard
        %span= dashboard
        .toolbar
          %ul.timepanel
            %li.timepanel.live.selected
              %a{ :href => "#", :class => "play" } live
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "60" } 1h
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "180" } 3h
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "1440" } 1d
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "10080" } 1w
          %ul.toggle
            %li.toggle-nonum
              %a{ :href => "#" }
                %img{ :src => "i/toggle-number.png" }
            %li.toggle-night
              %a{ :href => "#" }
                %img{ :src => "i/toggle-night.png" }
      - else
        %span Tasseo
        - if error
          %p= error
    - if dashboard
      .main
        :javascript
          var url = "#{ENV['GRAPHITE_URL']}";
          var auth = "#{ENV['GRAPHITE_AUTH']}";
        %script{ :type => "text/javascript", :src => "dashboards/#{dashboard}.js" }
        %script{ :type => "text/javascript", :src => "j/tasseo.js" }
    - else
      - if list
        .nav
          %ul
            - list.each do |d|
              %li
                %a{ :href => "#{d}" } #{d}
