!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Tasseo
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "c/style.css" }
    %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" }
    %script{ :type => "text/javascript", :src => "j/d3.v2.min.js" }
    %script{ :type => "text/javascript", :src => "j/rickshaw.min.js" }
    %script{ :type => "text/javascript", :src => "j/crypto-min.js" }
    %script{ :type => "text/javascript", :src => "j/tasseo.js" }
    - if ENV['AWS_ACCESS_KEY_ID']
      %script{ :type => "text/javascript", :src => "https://sdk.amazonaws.com/js/aws-sdk-2.0.18.min.js" }
  %body
    .title
      - if dashboard
        %span= dashboard
        .toolbar
          %ul.timepanel
            %li.timepanel.live.selected
              %a{ :href => "#", :class => "play" } live
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "60" } 1h
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "180" } 3h
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "1440" } 1d
            %li.timepanel
              %a{ :href => "#", :class => "range", :title => "10080" } 1w
          %ul.toggle
            %li.toggle-nonum
              %a{ :href => "#" }
                %img{ :src => "i/toggle-number.png" }
            %li.toggle-night
              %a{ :href => "#" }
                %img{ :src => "i/toggle-night.png" }
      - else
        %span Tasseo
        - if error
          %p= error
    - if dashboard
      .main
        %script{ :type => "text/javascript", :src => "dashboards/#{dashboard}.js" }
        :javascript

          var datasource;

          var graphiteUrl = "#{ENV['GRAPHITE_URL']}";
          var graphiteAuth = "#{ENV['GRAPHITE_AUTH']}";
          var libratoAuth = "#{ENV['LIBRATO_AUTH']}";
          var influxDbUrl = "#{ENV['INFLUXDB_URL']}";
          var influxDbAuth = "#{ENV['INFLUXDB_AUTH']}";
          var awsAccessKeyId = "#{ENV['AWS_ACCESS_KEY_ID']}";
          var awsSecretAccessKey = "#{ENV['AWS_SECRET_ACCESS_KEY']}";

          if (libratoAuth != "") {
            datasource = new TasseoLibratoDatasource(libratoAuth)
          } else if (influxDbUrl != "") {
            datasource = new TasseoInfluxDBDatasource(influxDbUrl, influxDbAuth)
          } else if (usingCloudWatch) {
            datasource = new TasseoAWSCloudWatchDatasource(awsAccessKeyId, awsSecretAccessKey)
          } else {
            var graphiteOptions = {}
            if (typeof padnulls != 'undefined') graphiteOptions['padnulls'] = padnulls;
            datasource = new TasseoGraphiteDatasource(graphiteUrl, graphiteAuth, graphiteOptions)
          }

          /* gather all configuration settings from global variables and turn
           * them into proper options.
           */
          var realtimePeriod = (typeof period == 'undefined') ? 5 : period;
          var refreshInterval = (typeof refresh == 'undefined') ? 2000 : refresh;

          var dashboardOptions = {}
          if (typeof interpolation != 'undefined') dashboardOptions['interpolation'] = interpolation;
          if (typeof renderer != 'undefined')      dashboardOptions['renderer'] = renderer;
          if (typeof stroke != 'undefined')        dashboardOptions['stroke'] = stroke;

          if (typeof criticalColor != 'undefined') dashboardOptions['criticalColor'] = criticalColor;
          if (typeof warningColor != 'undefined')  dashboardOptions['warningColor'] = warningColor;
          if (typeof normalColor != 'undefined')   dashboardOptions['normalColor'] = normalColor;

          var uiOptions = {
            refreshInterval: refreshInterval,
            realtimePeriod: realtimePeriod
          }
          if (typeof title != 'undefined')                    uiOptions['title'] = title;
          if (typeof toolbar != 'undefined')                  uiOptions['toolbar'] = toolbar;
          if (typeof theme != 'undefined' && theme == "dark") uiOptions['darkMode'] = true;

          var dashboard = new TasseoDashboard(metrics, datasource, realtimePeriod, dashboardOptions)
          var ui = new TasseoUi(dashboard, uiOptions)

    - else
      - if list
        .nav
          %ul
            - list.each do |d|
              %li
                %a{ :href => "#{d}" } #{d}
